{% load i18n %}
{% load format_numbers %}

<p>
<div class="container-fluid" >
<h4>{% trans 'status_status' %}
    <i class="fa fa-circle" style="color:{% if instance_data.status.code == 'OK' %}
                                             green
                                         {% else %}
                                            red
                                          {% endif %}">
    </i>
    {{ instance_data.status.code }} ({{ instance_data.status.message }})<p></h4>
<div class="d-flex justify-content-around">
<div class="me-auto"><b>{% trans 'status_version' %}</b> {{ instance_data.engine.version }}</div>
<div class="me-auto"><b>{% trans 'status_startedAt' %}</b> {{ instance_data.engine.startedAt }}</div>
<div class="me-auto"><b>{% trans 'status_number_of_clones' %}</b> {{ instance_data.cloning.numClones }}</div>
<div class="me-auto"><b>{% trans 'status_number_of_snapshots' %}</b> {{ snapshots_list|length }}</div>
</div>
<p>
<h4>{% trans 'status_filesystem' %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped {% if fs_used_proc < 80 %} bg-success {% elif fs_used_proc >= 80 and fs_used_proc < 90 %} bg-warning {% elif fs_used_proc >= 90 %} bg-danger {% endif %}"
             role="progressbar" style="width: {{ fs_used_proc }}%;" aria-valuenow="{{ fs_used_procs }}" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div></h4>

<p>
<h4>{% trans 'status_pools' %}</h4>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">{% trans 'status_pool_name' %}</th>
      <th scope="col">{% trans 'status_pool_type' %}</th>
      <th scope="col">{% trans 'status_pool_status' %}</th>
      <th scope="col">{% trans 'status_pool_datastateat' %}</th>
      <th scope="col">{% trans 'status_pool_size' %}</th>
      <th scope="col">{% trans 'status_pool_used' %}</th>
      <th scope="col">{% trans 'status_pool_free' %}</th>
      <th scope="col">{% trans 'status_pool_datasize' %}
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left"
             title="{% trans 'status_pool_datasize_tooltip' %}">
          </i>
      </th>
      <th scope="col">{% trans 'status_pool_used_snapshots' %}</th>
      <th scope="col">{% trans 'status_pool_used_clones' %}</th>
      <th scope="col">{% trans 'status_pool_compress_ratio' %}</th>
    </tr>
  </thead>


  <tbody>
{% for pool in instance_data.pools %}
    <tr class="table-active">
    <tr>
{#      <th scope="row">Default</th>#}
      <td>{{ pool.name }}</td>
      <td>{{ pool.mode }}</td>
      <td>{{ pool.status }}</td>
      <td>{{ pool.dataStateAt }}</td>
      <td>{{ pool.fileSystem.size|sizeof_fmt }}</td>
      <td>{{ pool.fileSystem.used|sizeof_fmt }}</td>
      <td>{{ pool.fileSystem.free|sizeof_fmt }}</td>
      <td>{{ pool.fileSystem.dataSize|sizeof_fmt }}</td>
      <td>{{ pool.fileSystem.usedBySnapshots|sizeof_fmt }}</td>
      <td>{{ pool.fileSystem.usedByClones|sizeof_fmt }}</td>
      <td>{{ pool.fileSystem.compressRatio }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<p>

<h4>{% trans 'status_sourse' %}</h4>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">{% trans 'status_sourse_type' %}</th>
      <th scope="col">{% trans 'status_sourse_status' %}</th>
      <th scope="col">{% trans 'status_sourse_lastrefresh' %}</th>
      <th scope="col">{% trans 'status_sourse_nextrefresh' %}</th>
    </tr>
  </thead>


  <tbody>
    <tr class="table-active">
    <tr>
      <td>{{ instance_data.retrieving.mode }}</td>
      <td>{{ instance_data.retrieving.status }}</td>
      <td>{{ instance_data.retrieving.lastRefresh }}</td>
      <td>{{ instance_data.retrieving.nextRefresh }}</td>
    </tr>
  </tbody>
</table>

<p>

<h4>{% trans 'status_clones' %}</h4>
{% include 'clones/clone_list.html' %}
</div>