{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/users/login.js' %}"></script>
{% endblock head %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}

<table class="vw-100 vh-100">
  <tbody>
    <tr>
      <td class="align-middle">
            <div class="container-fluid" style="max-width: 300px; min-width: 200px;">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="container-fluid">
                        <form method="post" id="login_form" action="/login">
                        {% csrf_token %}
                              <fieldset>
                                <legend class="text-center">{% trans 'users_LoginMessage'  %}</legend>
                                  <div id="service_message"></div>
                                  {% if is_error %}
                                    <div class="form-group">
                                        <label class="form-label mt-1" style="color: red">{% trans 'users_IncorrectUsernameOrPassword' %}</label>
                                    </div>
                                  {%  endif %}
                                <div class="form-group">
                                  <label for="user_login" class="form-label mt-4">{% trans 'users_Username'  %}</label>
                                  <input type="text" class="form-control" id="user_login" name="user_login" placeholder="">
                                </div>
                                <div class="form-group">
                                  <label for="user_password" class="form-label mt-4">{% trans 'users_Password'  %}</label>
                                  <input type="password" class="form-control" id="user_password" name="user_password" placeholder="">
                                </div>
                                 <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px" value="login">{% trans 'users_Login'  %}</button>
                                </div>

                              </fieldset>

                        </form>
                    </div>
                </div>
            </div>
      </td>
    </tr>
  </tbody>
</table>



{% endblock content %}