{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="{% static 'img/logo.svg' %}" width="40" height="40" alt="DLE GUI"
         class="favicon pointer">
    <a class="navbar-brand" href="/">
        Database Lab Engine GUI
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-1" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{ status_selected }}" href="/status">{% trans 'nav_status' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ snapshot_selected }}" href="/snapshot">{% trans 'nav_snapshots' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ clone_selected }}" href="/clone">{% trans 'nav_clones' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ help_selected }}" href="/help">{% trans 'nav_help' %}</a>
        </li>
      </ul>

    </div>

    <div class="collapse navbar-collapse order-2 w-auto" id="navbarColor02">
        <ul class="navbar-nav ms-auto w-auto">
            <li class="nav-item">
                <div class="me-auto">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info for LANGUAGE_CODE as LANGUAGE_INFO %}
                        <div class="d-lg-block d-none dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguage" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ LANGUAGE_INFO.name_translated }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownLanguage">
                                {% for lang in LANGUAGES %}
                                    <a class="dropdown-item language-dropdown-item" data-language="{{ lang.0 }}"><span class="flag-icon flag-icon-{{ lang.0 }}"></span>
                                        {% if lang.0 == LANGUAGE_CODE %}<b>{% endif %}
                                            {{ lang.1 }}
                                        {% if lang.0 == LANGUAGE_CODE %}</b>{% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </li>
            <li class="nav-item">
                <form class="d-print-flex">
                    <span class="badge badge-light version">v{{ version }}</span>
                </form>
            </li>
            <li class="nav-item">
                {% if auth_type == 'keycloak' %}
                <form class="d-flex" action="/kc/logout">
                {% else %}
                <form class="d-flex" action="/logout">
                 {% endif %}
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">{% trans 'nav_logout' %}</button>
                </form>
            </li>
        </ul>
    </div>
  </div>
</nav>
