{% load i18n %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/clones/reset_clone.js' %}"></script>
{% endblock head %}

  <div class="modal fade" id="formResetClone" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalResetLabel">{% trans 'clone_reset' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=""></button>
        </div>
        <div class="modal-body">
            <div class="form-group invisible" id="fgrResetMessage">
                <table class="w-100">
                    <tr class="w-100">
                        <td class="w-auto" id="cellResetMessage">
                            <label class="form-label text-secondary w-100 text-wrap" id="lblResetMessage"></label>
                        </td>
                        <td class="w-100" id="cellResetProgress">
                            <div class="progress-line" id="resetCloneProgress"></div>
                        </td>
                    </tr>
                </table>
                
            </div>

            <div class="form-group">
              <label for="reset_clone_id" class="form-label mt-0">{% trans 'clone_name' %}</label>
              <input type="text" readonly class="form-control" id="reset_clone_id" name="reset_clone_id" placeholder="" autofocus>
            </div>

            <div class="form-group">
              <label for="reset_snapshot_id" class="form-label mt-4">{% trans 'clone_forms_snapshot_label' %}</label>
                <select class="form-select" aria-label="{% trans 'clone_select_snapshot' %}" id="reset_snapshot_id" name="reset_snapshot_id">
                    {% for snapshot in snapshots_list %}
                        <option class="snaphot-id"
                                value="{{ snapshot.id }}">
                            {{ snapshot.id }} ({{ snapshot.dataStateAt }})
                        </option>
                    {%  endfor %}
                </select>
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnResetClone">{% trans 'clone_reset_short' %}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'clone_cancel' %}</button>
        </div>
      </div>
    </div>
  </div>