{% load static %}
{% load i18n %}
{% load format_numbers %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/snapshots/snapshots.js' %}"></script>
{% endblock head %}
<p>
<div class="container-fluid" >
        <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">{% trans 'snapshot_name'%}</th>
                <th scope="col">{% trans 'snapshot_createdAt'%}</th>
                <th scope="col">{% trans 'snapshot_dataStateAt'%}</th>
                <th scope="col">{% trans 'snapshot_physicalSize'%}</th>
                <th scope="col">{% trans 'snapshot_logicalSize'%}</th>
                <th scope="col">{% trans 'snapshot_pool'%}</th>
                <th scope="col">{% trans 'snapshot_numClones'%}</th>
                <th scope="col">{% trans 'snapshot_actions' %}</th>
            </tr>
          </thead>
    {% for snapshot in snapshots_list %}
          <tbody>
            <tr class="table-info">
            <tr>
              <td>{{ snapshot.id }}</td>
              <td>{{ snapshot.createdAt }}</td>
              <td>{{ snapshot.dataStateAt }}</td>
              <td>{{ snapshot.physicalSize|sizeof_fmt }}</td>
              <td>{{ snapshot.logicalSize|sizeof_fmt }}</td>
              <td>{{ snapshot.pool }}</td>
              <td>{{ snapshot.numClones }}</td>
              <td style="white-space: nowrap;">
                    <img src="{% static 'img/create_clone.png' %}" width="25" height="25" alt="{% trans 'snapshot_create_clone' %}"
                         id="{{ snapshot.id }}"
                         style="cursor: pointer"
                         class="img_create"
                         data-toggle="tooltip" data-placement="left"
                         title="{% trans 'snapshot_create_clone' %}">
              </td>
            </tr>
    {% endfor %}
          </tbody>
        </table>

</div>

{%  include 'clones/create_clone.html' %}